* {
  margin: 0;
  border: 0;
}

body {
  background-color: alice;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: rgb(64, 9, 175);
  background-image: url(sparkle-65.gif);
  flex-wrap: nowrap;
}

#title {
  color: aliceblue;
  font-size: 44px;
  font-family: "Caveat Brush";
}
#footer {
  color: aliceblue;
  font-size: 15px;
  font-family: "Caveat Brush";
 
}
.calc-container {
  width: 500px;
  height: 600px;
  padding: 20px 5px;
  background-color: rgb(38, 32, 41);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-container {
  height: 150px;
  width: 460px;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgb(39, 42, 82);
  background-image: url(sparkle-65.gif);
  align-self: center;
  gap: 30px;
}

.display-container h1 {
  margin-right: 9px;
  font-size: 70px;
  color: white;
}

.display-container h5 {
  font-size: 30px;
  margin-right: 9px;
  color: rgb(155, 98, 209);

}

.backtrack-container,
.row-one-container,
.row-two-container,
.row-three-container,
.row-three-container,
.row-four-container {
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}

.backtrack-container button {
  width: 140px;
  height: 75px;
  border-radius: 5px;
  font-size: 23px;
  font-family: "Caveat Brush";
  background-color: rgb(124, 147, 251);
  cursor: pointer;
}

.backtrack-container {
    margin-top: 5px;
}

.row-one-container button,
.row-two-container button,
.row-three-container button,
.row-four-container button {
  width: 100px;
  height: 75px;
  border-radius: 5px;
  font-size: 23px;
  font-family: "Caveat Brush";
  background-color: rgb(124, 147, 251);
  cursor: pointer;
}

.calc-container button:hover {
    background-color: rgb(30, 68, 219); /* New background color on hover */
    transform: translateY(-2px); /* Move up by 3 pixels on hover */
  }
